<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeShare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CodeShare.Properties.Settings>
            <setting name="ToolbarHorizontalOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ServerUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="WebUri" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentUser" serializeAs="String">
                <value />
            </setting>
        </CodeShare.Properties.Settings>
    </userSettings>
</configuration>